.dashboard-main-container {
	padding: 30px;
	padding-right: 50px;
	padding-left: 50px;
}

.dashboard-container {
	padding: 10px;
    margin: auto;
    display: flex; /* Used Mozilla documentation to understand Flexboxes */
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.dashboard-child {
	padding: 5px;
	margin: 5px;
    border: 2px solid #EEE;
    background-color: #6b6b6b;
    display: flex;
    flex: 0 0 30px;
    text-align: left;
	flex-direction: row;
}

input {
	width: 300px;
}

footer {
	position: bottom;
}