html,
body {
  height: 100%;
  width: 100%;
  background: #333232
}

.nav-container { /* Nav CSS Code from Bootstrap Website */
	position: sticky;
    top: 0;
    z-index: 1071;
    background: #F9C132; /* Theme color scheme idea from CDC website */
}

.main-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*Slider and Newsfeed Container*/
.slider-news-container {
	padding: 30px; 
	display: flex;
	flex-direction: column; 
}

/*Newsfeed*/
.newsfeed {
	margin-top: 30px;
	flex: 1;
	overflow-y: auto; 
	max-height: 500px;
	padding: 30px;
    color: white;
    background-color: #4e4e4e;
    border-radius: 15px;
}

.newsfeed table td {
	padding: 5px;
	color: white;
}

/*Table Borders*/
.newsfeed table tr {
	padding: 20px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-radius: 5px;
}

.newsfeed table tr:nth-of-type(2n) td {
	border-bottom: 2px solid black;
}

.newsfeed table tr:nth-of-type(odd) td {
	border-top: 2px solid black;
}

.newsfeed table tr td:nth-of-type(3n+0) {
	border-right: 2px solid black;
}

.newsfeed table td img {
	height: auto;
	max-width: 200px;
}

.newsfeed-header {
	margin-top: 5px;
	text-align: center;
	color: white;
	font-size: 14;
}

/*Slider is 4X bigger than Newsfeed*/
.slider {
	flex: 4;
}

/*Headers*/
.section-header {
	margin-top: 30px;
	text-align: center;
	color: white;
}

.section-content {
	margin-top: 30px;
	text-align: left;
	color: white;
}

.dashboard-content {
	margin: 5px;
	text-align: center;
	color: white;
}

/*Download Container*/
.download-container {
	padding: 30px;
    margin: auto;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.download-child {
	padding: 30px;
	margin: auto;
    background-color: white;
  	border-radius: 10px;
    display: flex;
    flex: 0 0 30px;
    color: black;
    text-align: center;
	flex-direction: column;
	justify-content: space-between;
}

.download-child img {
	height: auto;
	max-width: 200px;
}

.download-child p {
	text-align: left;
}

.download-child a:link {
  	color: blue;
  	font-style: underline;
}

/*Form Container*/
.form-container {
	padding: 30px;
	padding-right: 250px;
	padding-left: 250px;
}

form .section-header {
	text-align: center;
	color: #202428;
}

form {
	padding: 30px;
	border-radius: 10px;
}

/*Links and Footer*/
a:link {
  	color: #63dfed;
  	font-style: underline;
}

footer {
	background-color: #F9C132;
	padding: 15px;
}
